/****** Elad Shechter's RESET *******/


/*** box sizing border-box for all elements ***/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    background-color: transparent;
    color: inherit;
    border-width: 0;
    padding: 0;
    cursor: pointer;
}

figure {
    margin: 0;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}

ul,
ol,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

p {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

ol {
    margin-left: 0.5rem;
    list-style-type: decimal;
    list-style-position: inside;
}

cite {
    font-style: normal;
}

fieldset {
    border-width: 0;
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Montserrat';
}

.animation--fadeInUp {
    animation: fadeInUp 0.9s 0s both cubic-bezier(.27, .11, .65, 1.37);
}

.animation--fadeInRightToLeft {
    animation: fadeInRightToLeft 0.9s 0s both cubic-bezier(.27, .11, .65, 1.37);
}

.animation--fadeInLeftToRight {
    animation: fadeInLeftToRight 0.9s 0s both cubic-bezier(.27, .11, .65, 1.37);
}

.animation--hidden {
    visibility: hidden;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRightToLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeftToRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}